
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');
@import 'global.css';
@import 'main.css';

.fa-row {
    background-color: var(--dominantColor) !important;
    padding: 35px;
    color: #ffffff;
}
.fa-row-icon {
    font-size: 70px;
    color: #ffffff;
}


.fa-row-icon:hover {
    transform: scale(1.1);
}